@page "/layout/grid"

<PageTitle Title="栅格系统">
   <p>引用命名空间 <code>using BootBlazorUI.Layout</code></p>
    <p>
        栅格系统借助12个列系统和5个默认响应层构建各种形状大小的布局。可参考 <a href="https://v4.bootcss.com/docs/layout/overview/" target="_blank">Bootstrap 栅格系统</a>
    </p>
</PageTitle>

<PresentationPart Title="容器">
    <Description>
        <p>
            容器在使用默认网格系统时是必需的。容器用于容纳、填充和(有时)使内容居中。虽然容器可以嵌套，但大多数布局不需要嵌套容器。
        </p>
        <p>
            使用 <code>BootContainer</code> 表示容器组件，可选择设置 <code>Fluid="true"</code> 表示所有终端的显示宽度均为 100%。
        </p>
    </Description>
    <RunTemplate>
        <BootContainer BgColor="BgColor.Warning">
            容器
        </BootContainer>
        <BootContainer Fluid="true" BgColor="BgColor.Info" MarginTop="3" TextColor="TextColor.Light">
            Fluid="true" 的容器
        </BootContainer>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootContainer BgColor=""Color.Warning"">
    栅格容器
</BootContainer>
<BootContainer Fluid=""true"" BgColor=""Color.Info"" MarginTop=""3"" TextColor=""Color.Light"">
    Fluid = ""true"" 的栅格容器
</BootContainer>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="在栅格系统中的行与列">
    <Description>
        使用 <code>BootRow</code> 表示1行，使用 <code>BootColumn</code> 表示1列，要求 <code>BootColumn</code> 组件要放在 <code>BootRow</code> 组件中。
    </Description>
    <RunTemplate>
        <BootContainer>
            <BootRow>
                <BootColumn>
                    1 of 3
                </BootColumn>
                <BootColumn>
                    2 of 3
                </BootColumn>
                <BootColumn>
                    3 of 3
                </BootColumn>
            </BootRow>
        </BootContainer>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootContainer>
    <BootRow>
        <BootColumn>
            1 of 3
        </BootColumn>
        <BootColumn>
            2 of 3
        </BootColumn>
        <BootColumn>
            3 of 3
        </BootColumn>
    </BootRow>
</BootContainer>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="设置列的占比">
    <Description>
        <p>根据列的需要设置 <code>Column</code> 列的占比，范围是 1-12，其他值无效。</p>
        <p>
            如果不设置，则会自动计算这一行的平均列宽占比。
        </p>
        <p>
            但他们所占的一行是等宽的。
        </p>
    </Description>
    <RunTemplate>
        <BootContainer>
            <BootRow>
                <BootColumn Column="6" Border="true">
                    6 of 12
                </BootColumn>
                <BootColumn Column="2" Border="true">
                    2 of 12
                </BootColumn>
                <BootColumn Column="2" Border="true">
                    2 of 12
                </BootColumn>
                <BootColumn Column="2" Border="true">
                    2 of 12
                </BootColumn>
            </BootRow>
            <BootRow>
                <BootColumn Border="true">
                    1 of 3
                </BootColumn>
                <BootColumn Border="true">
                    2 of 3
                </BootColumn>
                <BootColumn Border="true">
                    3 of 3
                </BootColumn>
            </BootRow>
        </BootContainer>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<BootContainer>
    <BootRow>
        <BootColumn Column=""6"" Border=""true"">
            6 of 12
        </BootColumn>
        <BootColumn Column=""2"" Border=""true"">
            2 of 12
        </BootColumn>
        <BootColumn Column=""2"" Border=""true"">
            2 of 12
        </BootColumn>
        <BootColumn Column=""2"" Border=""true"">
            2 of 12
        </BootColumn>
    </BootRow>
    <BootRow>
        <BootColumn Border=""true"">
            1 of 3
        </BootColumn>
        <BootColumn Border=""true"">
            2 of 3
        </BootColumn>
        <BootColumn Border=""true"">
            3 of 3
        </BootColumn>
    </BootRow>
</BootContainer>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="响应式布局">
    <Description>
        <p>设置 <code>ColumnSmall</code> 在小尺寸视窗呈现的比例。</p>
        <p>设置 <code>ColumnMedium</code> 在中等尺寸视窗呈现的比例。</p>
        <p>设置 <code>ColumnLarge</code> 在大尺寸视窗呈现的比例。</p>
        <p>设置 <code>ColumnExtraLarge</code> 在超大尺寸视窗呈现的比例。</p>
        <p>有关尺寸比例，参考 <a href="https://v4.bootcss.com/docs/layout/grid/#grid-options" target="_blank">https://v4.bootcss.com/docs/layout/grid/#grid-options</a></p>
    </Description>
    <RunTemplate>
        <BootRow BgColor="BgColor.Info">
            <BootColumn ColumnSmall="8">Column Small 8</BootColumn>
            <BootColumn ColumnSmall="4">Column Small 4</BootColumn>
            <BootColumn Column="3">Column 3</BootColumn>
            <BootColumn Column="3">Column 3</BootColumn>
            <BootColumn Column="3">Column 3</BootColumn>
            <BootColumn ColumnLarge="6">Column Large 6</BootColumn>
            <BootColumn ColumnLarge="6">Column Large 6</BootColumn>
            <BootColumn ColumnExtraLarge="3">Column Extra Large 3</BootColumn>
            <BootColumn ColumnExtraLarge="9">Column Extra Large 9</BootColumn>
        </BootRow>
    </RunTemplate>
</PresentationPart>