@page "/introduce"

@layout EmptyLayout

<h2>使命</h2>
<blockquote class="blockquote">
    后端程序员的福音，它可以让你不需要熟悉 Bootstrap 样式，通过参数配置，配合强大的 VS，设置相应的值，或者选择相应的枚举，即可完美地对前端界面进行布局，简直是轻轻松松当全栈。
    <ul>

        <li>让后端程序员轻松使用前端组件进行布局、搭配、配色等前端工作</li>
        <li>充分利用 IDE 的智能感知特性，能选择的决不查文档。</li>
    </ul>
</blockquote>

<h2>特色</h2>
<hr />
<h5 class="mt-3">让组件更加组件化</h5>
<blockquote class="blockquote">

</blockquote>