<nav class="d-block">
    <h4>
        布局
    </h4>
    <ul class="nav">
        <li>
            <NavLink class="dropdown-item" href="/layout/grid" Match="NavLinkMatch.All">
                栅格(Grid)
            </NavLink>
        </li>
    </ul>
    <h4>组件</h4>
    <ul class="nav">
        <li>
            <NavLink class="dropdown-item" href="/" Match="NavLinkMatch.All">
                首页(Home)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="alert" Match="NavLinkMatch.All">
                警告框(Alert)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="badges" Match="NavLinkMatch.All">
                徽章(Badge)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="buttons" Match="NavLinkMatch.All">
                按钮(Button)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="btnGroup" Match="NavLinkMatch.All">
                按钮组(Button Groups)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="breadcrumb" Match="NavLinkMatch.All">
                面包屑(BreadCrumb)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="card" Match="NavLinkMatch.All">
                卡片(Card)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="collapse" Match="NavLinkMatch.All">
                折叠面板(Collapse)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="datagrid" Match="NavLinkMatch.All">
                数据表格(DataGrid)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="dialog" Match="NavLinkMatch.All">
                对话框(Dialog)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="dropdown" Match="NavLinkMatch.All">
                下拉菜单(DropDown)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="forms" Match="NavLinkMatch.All">
                表单(Form)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="loading" Match="NavLinkMatch.All">
                加载面板(Loading)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="modal" Match="NavLinkMatch.All">
                模态框(Modal)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="pagination" Match="NavLinkMatch.All">
                分页(Pagination)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="progressbar" Match="NavLinkMatch.All">
                进度条(Progress Bar)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="spinner" Match="NavLinkMatch.All">
                旋转(Spinner)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="tabs" Match="NavLinkMatch.All">
                标签页(Tab)
            </NavLink>
        </li>
    </ul>
    <h4>工具</h4>
    <ul class="nav">
        <li>
            <NavLink class="dropdown-item" href="/utilities/border" Match="NavLinkMatch.All">
                边框(Border)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="/utilities/colors" Match="NavLinkMatch.All">
                颜色(Color)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="/utilities/float" Match="NavLinkMatch.All">
                浮动(Float)
            </NavLink>
        </li>
        <li>
            <NavLink class="dropdown-item" href="/utilities/overflow" Match="NavLinkMatch.All">
                溢出(Overflow)
            </NavLink>
        </li>
    </ul>
</nav>