@inherits LayoutComponentBase

<NavMenu />
<div class="container-fluid mt-2 pb-3" style="padding-top:79px;">
    <div class="d-flex flex-fill" style="height:700px; overflow:hidden;">
        <div class="flex-column" style="height:100%;overflow-y:auto;width:@width">
            <LeftMenu/>
        </div>
        <div class="flex-column ml-2 flex-fill" style="overflow-x:hidden; overflow-y:auto;width:calc(100% - @(width));">
            @Body
        </div>
    </div>
</div>

@code{
    string width = "20%";
}